---
import ExperienceItem from "./ExperienceItem.astro"
const EDUCATION = [
  {
    year: "2025",
    date: "",
    title: "Grado Superior en Desarrollo de Aplicaciones Multiplataforma",
    subtitle: "Centro Integrado María Ana Sanz",
    company: "",
    description:
      "Formación especializada en programación y desarrollo de aplicaciones web, móviles y de escritorio. Manejo de lenguajes como Java, C#, Python, JavaScript y SQL. Desarrollo de interfaces, acceso a bases de datos, gestión de servicios en red y despliegue de aplicaciones multiplataforma",
  },
  {
    year: "2022",
    date: "",
    title: "Grado en Odontología (200 ECTS)",
    subtitle: "Universidad Alfonso X el Sabio",
    company: "",
    description:
      "Durante estos años adquirí conocimientos profundos sobre ciencias de la salud y odontología que, aunque finalmente no haya ejercido profesionalmente, me han resultado muy valiosos. Actualmente aplico estos conocimientos ayudando a mi familia en la gestión del sistema informático de su negocio, lo que me ha permitido combinar mi formación técnica con mis habilidades de programación.",
  },
  {
    year: "2014",
    date: "",
    title: "Grado en Ingeniería Biomédica (120 ECTS)",
    subtitle: "TECNUN, San Sebastián",
    company: "",
    description:
      "Fue en esta etapa donde descubrí la programación por primera vez. Aprendí a analizar datos, a pensar de manera lógica y estructurada, y a afinar mi forma de resolver problemas. Aunque cambié de camino, estos estudios me dieron una base sólida que sigo aplicando hoy en día en cada proyecto que desarrollo.",
  },
  {
    year: "2012",
    date: "",
    title: "Bachillerato en Ciencias de la Salud",
    subtitle: "Colegio San Cernin, Pamplona",
    company: "",
    description:
      "Formación académica completa que me dio una base sólida en ciencias. Aquí desarrollé mi capacidad de pensamiento analítico y aprendí el valor del trabajo constante y la disciplina, habilidades que aplico a diario en mi trabajo como desarrollador.",
  },
]
---

<ol class="relative mt-16">
  {
    EDUCATION.map((education) => (
      <li class="">
        <ExperienceItem {...education} />
      </li>
    ))
  }
</ol> 