---
import ExperienceItem from "./ExperienceItem.astro"
const EXPERIENCE = [
  {
    date: "Marzo 2025 - Junio 2025",
    title: "Tracasa Instrumental",
    company: "Pamplona, Navarra",
    description:
      "Participación en el desarrollo de software desde cero aplicando arquitectura limpia y principios SOLID. Aprendizaje de metodologías ágiles (Scrum), buenas prácticas de testing y trabajo colaborativo en entornos empresariales reales.",
  },

]
---

<ol class="relative mt-16">
  {
    EXPERIENCE.map((experience) => (
      <li class="">
        <ExperienceItem {...experience} />
      </li>
    ))
  }
</ol>
