---
import ExperienceItem from "./ExperienceItem.astro"
const EXPERIENCE = [
  {
    date: "Marzo 2025 - Junio 2025",
    title: "TRACASA INSTRUMENTAL",
    company: "PAMPLONA",
    description:
      "INFRASTRUCTURA Y DISEÑO DE SOFTWARE, CONTRATO DE PRÁCTICAS",
  },

]
---

<ol class="relative mt-16">
  {
    EXPERIENCE.map((experience) => (
      <li class="">
        <ExperienceItem {...experience} />
      </li>
    ))
  }
</ol>
