---
import ExperienceItem from "./ExperienceItem.astro"
const EXPERIENCE = [
  {
    year: "Now",
    date: "",
    title: "Diseñador Web Freelance",
    company: "",
    subtitle: "",
    description: [
      "Diseño, desarrollo y despliego proyectos web aplicando SEO técnico.",
      { text: "Puedes ver los proyectos que he realizado, aquí.", link: "#proyectos" },
      "Trabajo con Angular/React/Astro, Supabase, GH Actions y Vercel"
    ],
  },
  {
    year: "2025",
    date: "",
    title: "Tracasa Instrumental",
    company: "",
    subtitle: "Contrato de prácticas",
    description: [
      "Aprendí SCRUM y cómo trabajar en con arquitecturas limpias (DDD)",
      "Stack: C#, .NET, Entity Framework, TypeScript, Angular"
    ],
  },
]
---

<ol class="relative mt-16">
  {
    EXPERIENCE.map((experience) => (
      <li class="">
        <ExperienceItem {...experience} />
      </li>
    ))
  }
</ol>
