---
const personalImageAlt = "Juan Borr치s Sada"
import Badge from "@/components/Badge.astro"
import LinkedInIcon from "@/components/icons/LinkedIn.astro"
import MailIcon from "@/components/icons/Mail.astro"
import WhatsAppIcon from "@/components/icons/WhatsApp.astro"
import GitHubIcon from "@/components/icons/GitHubNew.astro"
import DownloadIcon from "@/components/icons/Download.astro"
import SocialPill from "@/components/SocialPill.astro"
import DownloadPill from "@/components/DownloadPill.astro"
---

<div class="max-w-xl">
  <div class="flex gap-4 mb-4">
    <img
      class="rounded-full shadow-lg size-16"
      src="/portfolio/me.png"
      alt={personalImageAlt}
    />
    <div class="flex items-center md:justify-center">
      <Badge>Disponible para trabajar</Badge>
    </div>
  </div>
  <h1
    class="text-4xl font-bold tracking-tight text-gray-800 sm:text-5xl dark:text-white"
  >
    Hola! soy Juan Borr치s
  </h1>
  <p
    class="mt-6 text-xl text-gray-800 dark:[&>strong]:text-yellow-200 [&>strong]:text-yellow-500 [&>strong]:font-semibold dark:text-gray-300"
  >
    Estudiante de DAM con experiencia pr치ctica. <strong
      >Full Stack Developer especializado en Java, Spring Boot y tecnolog칤as modernas</strong
    > de Valle de Eg칲칠s, Navarra 游쀯릖. Enfocado en arquitecturas limpias y desarrollo de aplicaciones robustas.
  </p>
  <nav class="flex flex-wrap gap-4 mt-8">
    <SocialPill href="mailto:juan-borras@hotmail.com">
      <MailIcon class="size-4" />
      Mail
    </SocialPill>
    <SocialPill href="https://wa.me/34661437136">
      <WhatsAppIcon class="size-4" />
      Whatsapp
    </SocialPill>
    <SocialPill href="https://github.com/JBorrsad">
      <GitHubIcon class="size-4" />
      Github
    </SocialPill>
    <SocialPill href="https://www.linkedin.com/in/juan-borr치s-sada-a690b0239">
      <LinkedInIcon class="size-4" />
      Linkedin
    </SocialPill>
    <DownloadPill href="/portfolio/CV_Juan_Borras.pdf" download>
      <DownloadIcon class="size-4" />
      Descargar CV
    </DownloadPill>
  </nav>
</div>
